.Weather {
  margin: 50px auto;
  border: 2px solid #d9d9d9;
  border-radius: 10%;

  padding: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 550px;
  text-transform: capitalize;
  margin: 20px auto 50px auto;

  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.Weather h1 {
  color: #2c003e;
  line-height: 1.5;
  padding-top: 5px;
  font-weight: bolder;
  margin: auto;
}
.Weather h2 {
  line-height: 1.5;
  padding-top: 5px;
  font-weight: bolder;
  margin: auto;
  font-size: 15px;
}
.Weather ul {
  list-style-type: none;
}
.Weather .temperature {
  font-size: 22px;
  display: block;
  float: right;
  font-weight: bolder;
  position: relative;
  bottom: 60px;
  margin: auto 20px;
  color: #2c003e;
}

.Weather canvas {
  margin: 10px auto;
}
.Loader {
  display: block;
  margin: 10px auto;
}
