.Weather {
  margin: 50px auto;
  border: 2px solid #d9d9d9;
  padding: 5px;
  font-family: "Red Rose", cursive;
  width: 60%;
  text-transform: capitalize;
}
.Weather h1 {
  color: #2c003e;
  line-height: 1.5;
  padding-top: 5px;
  font-weight: bolder;
  margin: auto 10px auto 20px;
}
.Weather ul {
  list-style-type: none;
}

.temperature {
  font-size: 20px;
  font-weight: bold;
  color: #2c003e;
}

.temperature canvas {
  padding: 0 5px;
  margin: 0 5px;
  display: inline-block;
}
.Loader {
  display: block;
  margin: 0 auto;
}
